@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$font-open-sans: 'Roboto Slab', serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-movie-title: 'Permanent Marker', cursive;
$dark-color: #17181d;
$lighter-dark: #292C35;
$text-light: #fcd9b8;
$gold-color: #E09145;