@use './config';

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size: 16px;
    font-family: config.$font-open-sans;
    color: config.$text-light;
    line-height: 1.5;
    background-color: config.$dark-color;
}

.navbar {
    font-size: 3rem;
    height: 150px;
    text-align: center;
    padding-top: 20px;
}

.form-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .login, .register {
        height: 700px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: config.$lighter-dark;
        border-radius: 8px;

        .spinner {
            margin-top: 30px;
            border: 4px solid config.$dark-color;
            border-left: 4px solid lighten(config.$lighter-dark, 10%);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
          }
          
          @keyframes spin {
            to {
              transform: rotate(360deg);
            }
          }

        h1 {
            font-size: 2.3rem;
            padding-top: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            width: 100%;

            .error-msg {
                color: red;
                padding: 10px;
            }


            .form-group {
                margin-top: 20px;
                width: 70%;
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1.5rem;
                    padding: 8px;
                }

                input {
                    padding: 8px;
                    border-radius: 8px;
                    border: none;
                    font-size: 1.2rem;
                }
            }

            button {
                margin-top: 24px;
                padding: 10px;
                width: 150px;
                background-color: config.$gold-color;
                color: config.$dark-color;
                border: 1px solid black;
                border-radius: 8px;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }
}


.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    padding: 10px;
    border-radius: 6px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    background-color: config.$lighter-dark;
  }
  
  @media screen and (max-width: 768px) {
    .modal {
      max-width: 95%;
      max-height: 95%;
      padding: 8px;
    }
  }