@use './config';

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size: 16px;
    font-family: config.$font-montserrat;
    font-weight: 600;
    color: config.$text-light;
    line-height: 1.5;
    background-color: config.$dark-color;
}

.loading-wrapper {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    font-size: 3rem;
    height: 150px;
    text-align: center;
    padding-top: 20px;
    font-family: config.$font-open-sans;
}

.form-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .login, .register {
        height: 700px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        background-color: config.$lighter-dark;

        .spinner {
            margin-top: 30px;
            border: 4px solid config.$dark-color;
            border-left: 4px solid lighten(config.$lighter-dark, 10%);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
          }
          
          @keyframes spin {
            to {
              transform: rotate(360deg);
            }
          }

        h1 {
            font-size: 2.3rem;
            padding-top: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            width: 100%;

            .error-msg {
                color: red;
                padding: 15px 0 0 8px;
            }


            .form-group {
                margin-top: 20px;
                width: 70%;
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1.5rem;
                    padding: 8px;
                }

                input {
                    padding: 8px;
                    border-radius: 8px;
                    border: none;
                    font-size: 1.2rem;
                }
            }

            button {
                margin-top: 24px;
                padding: 10px;
                width: 150px;
                background-color: config.$gold-color;
                color: config.$dark-color;
                border: 1px solid black;
                border-radius: 8px;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }
}

.movie-form-wrapper {

    h1 {
        text-align: center;
        margin: 60px 0 20px 0;
    }


    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-bottom: 60px;

        .error-msg {
            color: red;
            padding: 15px 0 0 8px;
        }

        button {
            padding: 10px;
            margin-top: 30px;
            width: 120px;
            font-size: 1rem;
            border: none;
            border-radius: 8px;
            background-color: config.$gold-color;
            color: config.$dark-color;
            cursor: pointer;
        }

        .form-group {
            margin-top: 20px;
            width: 70%;
            display: flex;
            flex-direction: column;
    
            label {
                font-size: 1.5rem;
                padding: 8px;
            }
    
            input, select {
                padding: 8px;
                border-radius: 8px;
                border: none;
                font-size: 1.2rem;
            }
        }
    }
}


.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    width: 500px;
    border-radius: 6px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    background-color: config.$lighter-dark;
    margin-bottom: 40px;

    .close-button {
        float: right;
        margin: 8px;
        padding: 10px;
        border: none;
        border-radius: 50%;
        background-color: transparent;
        font-size: 18px;
        cursor: pointer;
        color: config.$text-light;

        &:hover {
            background-color: config.$dark-color;
        }
    }

    .modal-content {
        width: 90%;
        margin: 0 auto;
    }
}

.movies-list-wrapper {
    display: flex;
    flex-direction: column;
    
    .button-wrapper {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 20px 0 40px 0;

        #add-movie-button {
            background-color: config.$gold-color;
            border: none;
            box-shadow: none;
            color: black;

            &:hover {
                box-shadow: 0 0 10px config.$gold-color;
            }
        }

        button {
            width: 120px;
            padding: 10px;
            background-color: transparent;
            box-shadow: 0 0 10px #ffd700; 
            border: 2px solid darken(#ffd700, 5%);
            border-radius: 4px;
            color: config.$text-light;
            font-size: 1rem;
            cursor: pointer;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .movies-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
        margin: 50px auto 50px auto;
    }
}

.movie-card {
    width: 300px;
    height: 730px;
    background-color: config.$lighter-dark;
    border-radius: 6px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px #ffd700; 
    border: 6px solid darken(#ffd700, 5%);
    transition: transform 0.3s;
    margin-top: 20px;

    .category {
        text-transform: capitalize;
    }

    &:hover {
        transform: scale(1.03);
    }

    .watch-status {

        p {
            display: flex;
            align-items: center;
            gap: 10px;

            #watched {
                display: inline-block;
                height: 15px;
                width: 15px;
                background-color: green;
                border-radius: 50%;
                box-shadow: 0 0 10px green;
            }

            #not-watched {
                display: inline-block;
                height: 15px;
                width: 15px;
                background-color: red;
                border-radius: 50%;
                box-shadow: 0 0 10px red;
            }
        }
    }

    .title {
        font-family: config.$font-movie-title;
        letter-spacing: 3px;
        
        h1 {
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
        }
    }

    #edit-btn {
        padding: 6px;
        margin: 8px 0 0 8px;
        border: none;
        font-size: 1rem;
        border-radius: 6px;
        width: 100px;
        background-color: #ffd700;
        cursor: pointer;
        
        &:hover {
            box-shadow: 0 0 15px red; 
        }
    }

    .edit-form {
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;

        #close-button {
            margin-top: auto;
            align-self: flex-end;
            padding: 6px;
            width: 30px;
            font-size: 1rem;
            background-color: transparent;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            color: red;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.5);
            }
        }

        .button-group {
            margin-top: 20px;
            display: flex;
            gap: 20px;

            button {
                width: 120px;
                padding: 8px;
                border: none;
                border-radius: 8px;
                font-size: 15px;
                cursor: pointer;
            }

            #watched-button {
                background-color: green;

                &:hover {
                    box-shadow: 0 0 15px green;
                }
            }

            #delete-button {
                background-color: red;

                &:hover {
                    box-shadow: 0 0 15px red;
                }
            }
        }

        form {
            margin-top: 30px;
            .form-group {
                display: flex;
                flex-direction: column;
                width: 95%;
                margin: 0 auto;

                .input-wrapper {
                    margin-top: 8px;
                    display: flex;
                    input {
                        padding: 6px;
                        border: 2px solid #ffd700;
                        color: white;
                        border-radius: 8px;
                        font-size: 14px;
                        background-color: transparent;

                        &:focus {
                            outline: none;
                            box-shadow: 0 0 15px #ffd700;
                        }
                    }

                    button {
                        padding: 6px;
                        border: none;
                        border-radius: 8px;
                        margin-left: 5px;
                        width: 100px;
                        background-color: green;
                        font-size: 14px;
                        cursor: pointer;

                        &:hover {
                            box-shadow: 0 0 15px green;
                        }
                    }
                }
            }
        }
    }
    
    .card-span {
        color: gold;
        font-weight: 900;
    }

    h1, p {
        padding: 0 0 4px 10px;
    }

    p {
        font-size: 1.1rem;
    }
}

.spinner {
    margin: 100px auto;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    animation: bounce 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    animation-delay: -0.16s;
  }
  
  @keyframes bounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .modal {
      max-width: 95%;
      max-height: 95%;
      padding: 8px;
    }
  }

  @media (max-width: 575.98px) {

    .modal {
        width: 90%;
        margin: 0 auto 30px auto;
    }
    .form-page {
        flex-direction: column;
        gap: 30px;
        width: 95%;
        margin: 0 auto 40px auto;

        .login, .register {
            height: 650px;
            width: 95%;

            h1 {
                text-align: center;
            }

            form {
                margin-top: 10px;

                button {
                    margin-top: 40px;
                }
            }
        }

    }

    .movies-list-wrapper {
        .button-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
        }

        .movies-list {
            display: flex;
            flex-direction: column;
        }
    }
  }